*{
  font-family: 'Montserrat', sans-serif;
}

#main{
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #22223B;
}

#heading{
  margin-top: 10px;
  text-align: center;
  color: #FCBF49;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 2.2rem;
}

#inp{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#in{
  height: 2.3rem;
  width: 20rem;
  border-radius: 12px;
  font-size: 1rem;
  padding-left: 12px;
}

#btn{
  margin-left: 15px;
  background-color: #F2E9E4;
  color: #22223B;
}

#work{
  margin-top: 55px;
}

.liclass{
  font-size: 1.15rem;
  font-weight: 500;
  margin-top: 15px;
  color: #F2E9E4;
}

.donebtn{
  height: 2rem;
  width: 4.5rem;
  margin-left: 15px;
  border: 2px solid #F2E9E4;
  border-radius: 7px; 
  background-color: #F2E9E4;
  color: #22223B;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.9rem;
}

.donebtn:hover{
  background-color: #198754;
  color: #fff;
}

.removebtn{
  height: 2rem;
  width: 4.5rem;
  font-size: 0.9rem;
  margin-left: 15px;
  border: 2px solid #9A8C98;
  border-radius: 7px; 
  background-color: #9A8C98;
  color: #22223B;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}

.removebtn:hover{
  background-color: #DC3545;
  color: #fff;
}

.btnf{
  width: 135px;
  height: 45px;
  margin-top: 15px;
  margin-left: 25px;
  border-radius: 10px;
  background-color: #F2E9E4;
  color: #22223B;
  cursor: pointer;
}

.changeclrf{
  background-color: #FCBF49;
}

#msg{
  color: #FCBF49;
  text-align: center;
  margin-top: 33px;
  font-weight: 600;
}


.selected{
  opacity: 1;
  text-shadow: 0 0 6px rgba(252, 191, 73, 0.8);
}

.unselected{
  opacity: 0.1;
  filter: blur(1.9px);
}